@import "tailwindcss/theme.css" layer(theme) important;

.rsa-spacebring-wrap {
  @import "tailwindcss/preflight.css" layer(base) important;
  @import "tailwindcss/utilities.css" layer(utilities) important;
}

[x-cloak] {
    display: none !important;
}